body {
  background-color:lightgray;
  font-size: 10px;
}

html{
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;  
}

.container
{
margin: 0 auto;
width:375px;
background-color:lightgray;
margin-top:25px;


}

@media screen and (min-width: 575px){
 .container
{
 margin: 0 auto;
width:80%;
background-color:lightgray;
margin-top:25px;
}
}

@media screen and (min-width:991px){
 .container
{
 margin: 0 auto;
width:80%;
background-color:lightgray;
margin-top:25px;
}
}

.baku 
{
width:100%;
height:375px;
background-image:url("../images/baku.jpg");
background-size:cover;
background-repeat:none;
}

@media screen and (min-width: 575px){
  .baku {
  float:left;
    width: 49%;
	margin-right:1%;
background-image:url("../images/baku.jpg");
background-size:cover;
  }
}

@media screen and (min-width: 991px){
  .baku {
  float:left;
    width: 24%;
	margin-right:1%;
background-image:url("../images/baku.jpg");
background-size:cover;
  }
}

.london
{
width:100%;
height:375px;
background-image:url("../images/london.png");
background-size:cover;
background-repeat:none;
}

@media screen and (min-width: 575px){
  .london  {
  float:left;
    width: 50%;
background-image:url("../images/london.png");
background-size:cover;

  }
}
@media screen and (min-width: 991px){
  .london {
  float:left;
    width: 24%;
	margin-right:1%;
background-image:url("../images/london.png");
background-size:cover;
  }
}


.madrid
{
width:100%;
height:375px;
background-image:url("../images/madrid.jpg");
background-size:cover;
background-repeat:none;
}

@media screen and (min-width: 575px){
  .madrid {
  float:left;
    width: 49%;
	margin-right:1%;
	margin-top:1%;
background-image:url("../images/madrid.jpg");
background-size:cover;
  }
}

@media screen and (min-width: 991px){
  .madrid {
  float:left;
    width: 24%;
	margin-right:1%;
	margin-top:0px;
background-image:url("../images/madrid.jpg");
background-size:cover;
  }
}

.rome
{
width:100%;
height:375px;
background-image:url("../images/rome.jpg");
background-size:cover;
background-repeat:none;
}

@media screen and (min-width: 575px){
  .rome {
  float:left;
    width: 50%;
	margin-top:1%;
background-image:url("../images/rome.jpg");
background-size:cover;

  }
}


@media screen and (min-width: 991px){
  .rome{
  float:left;
    width: 24%;
	margin-right:1%;
	margin-top:0px;
background-image:url("../images/rome.jpg");
background-size:cover;
  }
}




.preview
{
border-bottom:30px solid lightgray;
padding:20px;
}

@media screen and (min-width: 575px){
	.preview
{
border-bottom:none;

 }
}

h1
{
font-family:serif;
font-size:2em;
font-weight:bold;

}

h1.header
{
font-family:sans-serif;
font-size:1.8em;
letter-spacing:1px;
text-transform:uppercase;
text-align:center;
padding:20px;
font-weight:lighter;
}
